<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229129204738-s1inn17kt935vr7kvv9tkbov8pr6tphi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229129204738-s1inn17kt935vr7kvv9tkbov8pr6tphi</string>
	<key>API_KEY</key>
	<string>AIzaSyApd2zqbOQeeHY9B8tPino1VkFxokKhk_0</string>
	<key>GCM_SENDER_ID</key>
	<string>229129204738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.herlop.lumilearn</string>
	<key>PROJECT_ID</key>
	<string>lumi-7f941</string>
	<key>STORAGE_BUCKET</key>
	<string>lumi-7f941.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229129204738:ios:7d486e7269b7f031bc231b</string>
</dict>
</plist>